.btn {
  @extend %btn;
  padding: 1.5rem 4rem;
  font-size: 1.5rem;
  font-weight: 600;

  svg {
    @include size(2.25rem, 2.25rem, currentColor);
  }
}

.btn--small {

  &,
  &:link,
  &:visited {
    @extend %btn;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1.25rem 2.25rem;
    text-decoration: none;

    svg {
      @include size(1.75rem, 1.75rem, currentColor);
    }
  }
}

.btn--inline {
  color: $color-primary;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  background-color: $color-grey-light-1;
  padding: 0.8rem 1.2rem;
  border-radius: 10rem;
  cursor: pointer;
  @include flex(null, center, null);
  transition: all 0.2s;

  svg {
    @include size(1.6rem, 1.6rem, currentColor);
    margin: 0 0.2rem;
  }

  span {
    margin: 0 0.4rem;
  }

  &:hover {
    color: $color-grad-2;
    background-color: $color-grey-light-2;
  }

  &:focus {
    outline: none;
  }
}

.btn--round {
  background-image: $gradient;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  @include size(4.5rem, 4.5rem,null);
  transition: all 0.2s;
  @include flex(center, center, null);

  &:hover {
    transform: scale(1.07);
  }

  &:focus {
    outline: none;
  }

  svg {
    @include size(2.5rem, 2.5rem, #fff);
  }
}

.btn--tiny {
  @include size(2rem, 2rem,null);
  border: none;
  background: none;
  cursor: pointer;

  svg {
    @include size(100%, 100%, $color-primary);
    transition: all 0.3s;
  }

  &:focus {
    outline: none;
  }

  &:hover svg {
    fill: $color-grad-2;
    transform: translateY(-1px);
  }

  &:active svg {
    fill: $color-grad-2;
    transform: translateY(0);
  }

  &:not(:last-child) {
    margin-right: 0.3rem;
  }
}

.heading--2 {
  font-size: 2rem;
  font-weight: 700;
  color: $color-primary;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  text-align: center;
}

.link:link,
.link:visited {
  color: $color-grey-dark-2;
}

.spinner {
  margin: 20rem auto;
  text-align: center;

  svg {
    @include size(6rem, 6rem, $color-primary);
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.message,
.error {
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem 4rem;
  display: flex;

  svg {
    @include size(3rem, 3rem, $color-primary);
    transform: translateY(-0.3rem);
  }

  p {
    margin-left: 1.5rem;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 600;
  }
}