.header {
  grid-area: head;
  background-color: $color-grey-light-1;
  @include flex(space-between, center, null);

  @media screen and (max-width: $bp-smallest) {
    max-height: 20rem;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
  }

  &__logo {
    margin-left: 4rem;
    height: 4.6rem;
    display: block;

    @media screen and (max-width: $bp-small) {
      display: none;
    }

    @media screen and (max-width: $bp-smallest) {
      display: block;
      margin-bottom: 1rem;
    }
  }

  &__logo--mobile {
    display: none;

    @media screen and (max-width: $bp-small) {
      display: block;
    }

    @media screen and (max-width: $bp-smallest) {
      display: none;
    }
  }
}

.search {
  background-color: #fff;
  border-radius: 10rem;
  @include flex(null, center, null);
  padding-left: 3rem;
  transition: all 0.3s;

  @media screen and (max-width: $bp-small) {
    margin-left: 5rem;
  }

  @media screen and (max-width: $bp-smallest) {
    margin-left: 3rem;
  }

  &:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba($color-grey-dark-1, 0.08);
  }

  &__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 30rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-grey-light-3;
    }

    @media only screen and (max-width: $bp-medium) {
      width: auto;
    }
  }

  &__btn {
    font-weight: 600;
    font-family: inherit;

    span {
      @media screen and (max-width: $bp-small) {
        display: none;
      }

      @media screen and (max-width: $bp-smallest) {
        display: block;
        margin-left: 5px;
      }
    }
  }
}

.nav {
  align-self: stretch;
  margin-right: 2.5rem;

  @media only screen and (max-width: $bp-smallest) {
    margin-right: 0;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 100%;

    @media screen and (max-width: $bp-smallest) {
      padding-bottom: 2rem;
      padding-top: 1rem;
    }
  }

  &__item {
    position: relative;
  }

  &__btn {
    height: 100%;
    font-family: inherit;
    color: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 1.5rem;
    transition: all 0.3s;
    @include flex(null, center, null);

    @media screen and (max-width: $bp-smallest) {
      padding: 1.3rem;
    }


    svg {
      @include size(2.4rem, 2.4rem, $color-primary);
      margin-right: 0.7rem;
      transform: translateY(-1px);
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $color-grey-light-2;
    }
  }
}

.bookmarks {
  padding: 1rem 0;
  @include position(absolute, null, -2.5rem, null, null);
  z-index: 10;
  width: 40rem;
  background-color: #fff;
  box-shadow: 0 0.8rem 5rem 2rem rgba($color-grey-dark-1, 0.1);
  @include visibility(hidden, 0);
  transition: all 0.5s 0.2s;

  @media screen and (max-width: $bp-small) {
    width: 270px;
  }

  @media screen and (max-width: $bp-smallest) {
    width: 330px;
  }

  @media screen and (max-width: $bp-smallest) {
    margin-top: 0.2rem;
  }

  &__list {
    list-style: none;

    .preview__fig {
      @media screen and (max-width: $bp-small) {
        display: block;
      }
    }
  }

  &__field {
    cursor: pointer;
    padding: 0 4rem;
    @include flex(null, center, null);
    height: 100%;
    transition: all 0.3s;

    &:hover {
      background-color: $color-grey-light-2;
    }
  }

  &:hover,
  .nav__btn--bookmarks:hover+& {
    @include visibility(visible, 1);
  }
}