.recipe {
  background-color: $color-grey-light-1;
  border-left: 3px solid $color-primary;

  &__fig {
    height: 32rem;
    position: relative;
    transform-origin: top;

    &::before {
      content: '';
      display: block;
      @include size(100%, 100%, null);
      @include position(absolute, 0, null, null, 0);
      background-image: linear-gradient(to right bottom,
          $color-grad-1,
          $color-grad-2);
      opacity: 0.6;
    }
  }

  &__img {
    @extend %img-cover;
  }

  &__title {
    @include position(absolute, null, null, 0, 50%);
    transform: translate(-50%, 20%) skewY(-6deg);
    color: #fff;
    font-weight: 700;
    font-size: 3.25rem;
    text-transform: uppercase;
    width: 50%;
    line-height: 1.95;
    text-align: center;

    span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 1.3rem 2rem;
      background-image: linear-gradient(to right bottom,
          $color-grad-1,
          $color-grad-2);
    }

    @media only screen and (max-width: $bp-medium) {
      width: 70%;
    }
  }

  &__details {
    @include flex(null, center, null);
    padding: 7.5rem 8rem 3.5rem 8rem;
  }

  &__info {
    font-size: 1.65rem;
    text-transform: uppercase;
    @include flex(null, center, null);

    &:not(:last-child) {
      margin-right: 4.5rem;
    }
  }

  &__info-icon {
    @include size(2.35rem, 2.35rem, null);
    fill: $color-primary;
    margin-right: 1.15rem;
  }

  &__info-data {
    margin-right: 0.5rem;
    font-weight: 700;
  }

  &__info-buttons {
    display: flex;
    margin-left: 1.6rem;
    transform: translateY(-1px);
  }

  &__user-generated {
    background-color: darken($color-grey-light-2, 2%);
    @include flex(center, center, null);
    @include size(4rem, 4rem, null);
    border-radius: 10rem;
    margin-left: auto;
    margin-right: 1.75rem;

    svg {
      @include size(2.25rem, 2.25rem, $color-primary);
    }
  }

  &__nutritional-data {
    padding: 2rem 8rem 6rem 8rem;

    h3 {
      margin: 0;
    }
  }

  &__nutrients {
    margin-top: 3rem;
    @include flex(space-between, null, row wrap);

  }

  &__nutrient-field {
    background-color: $color-grey-light-1;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 3rem 2rem;
    text-align: center;
    min-width: 13rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
  }

  &__nutrient-value {
    color: $color-primary;
    font-weight: 600;
  }

  &__ingredients {
    padding: 5rem 8rem;
    font-size: 1.6rem;
    line-height: 1.4;
    background-color: $color-grey-light-2;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__ingredient-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 3rem;
    list-style: none;
  }

  &__ingredient {
    display: flex;
  }

  &__icon {
    @include size(2rem, 2rem, $color-primary);
    margin-right: 1.1rem;
    flex: 0 0 auto;
    margin-top: 0.1rem;
  }

  &__quantity {
    margin-right: 0.5rem;
    flex: 0 0 auto;
  }

  &__directions {
    padding: 5rem 10rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__directions-text {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 3.5rem;
    color: $color-grey-dark-2;
  }

  &__publisher {
    font-weight: 700;
  }
}