*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-grey-dark-1;
  background-image: $gradient;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw);
}

.container {
  max-width: 125rem;
  margin: 4vw auto;
  background-color: #fff;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba($color-grey-dark-1, 0.2);
  display: grid;
  grid-template-rows: 10rem minmax(115rem, auto);
  grid-template-columns: 11fr 22fr;
  grid-template-areas:
    'head head'
    'list recipe';

  @media only screen and (max-width: $bp-large) {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-rows: 10rem minmax(100rem, auto);
    grid-template-columns: 14fr 22fr;
    grid-template-areas:
      'head head'
      'list recipe';
  }

  @media only screen and (max-width: $bp-smallest) {
    grid-template-rows: unset;
    grid-template-columns: 1fr;
    grid-template-areas:
      "head"
      "list"
      "recipe";
    max-width: 100%;
  }

}

.heading {
  &--2 {
    font-size: 2.4rem;
    color: $color-primary;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
  }

  &--3 {
    font-size: 1.6rem;
    color: $color-grey-dark-1;
    text-transform: uppercase;
    margin: 1.5rem 0;
    font-weight: 800;
  }
}

.overlay {
  @include position(fixed, 0, null, null, 0);
  @include size(100%, 100%, null);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.fade-in {
  animation: fadeIn 0.7s ease-in forwards;
}

.container-intro {
  animation: intro 0.3s 0.2s backwards;
}

.hidden {
  @include visibility(hidden, 0);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: $color-primary;
  border-radius: 500px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}