%btn {
    background-image: $gradient;
    border-radius: 10rem;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    @include flex(null, center, null);
    gap: 8px;
    transition: all 0.2s;

    &:hover {
        transform: scale(1.05);
    }

    &:focus {
        outline: none;
    }
}

%img-cover {
    @include size(100%, 100%, null);
    display: block;
    object-fit: cover;
}