.select {
    position: relative;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    overflow: hidden;

    select {
        appearance: none;
        box-shadow: none;
        background-image: none;
        flex: 1;
        padding: 0 1rem;
        color: $color-grey-dark-1;
        background-color: $color-grey-light-1;
        cursor: pointer;
        font-family: inherit;

        &::-ms-expand {
            display: none;
        }
    }

    &::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 1em;
        transition: .25s all ease;
        pointer-events: none;
        background-color: $color-grey-light-2;

    }

    &:hover::after,
    &:visited::after {
        color: $color-primary;
    }
}