.add-recipe-window {
  @include position(fixed, 50%, null, null, 50%);
  transform: translate(-50%, -50%);
  width: 115rem;
  background-color: $color-grey-light-2;
  border-radius: 10px;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
  z-index: 350;

  @media only screen and (max-width: $bp-large) {
    transform: translate(-50%, -50%) scale(0.9);
    width: 105rem;
  }

  @media only screen and (max-width: $bp-medium) {
    width: 95rem;
  }

  @media only screen and (max-width: $bp-small) {
    width: 65rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    width: 49rem;
    padding: 5rem;
  }

  .btn--close-modal {
    font-family: inherit;
    color: inherit;
    @include position(absolute, 0.5rem, 1.6rem, null, null);
    font-size: 3.5rem;
    cursor: pointer;
    background: none;
  }

  .upload {
    display: flex;
    flex-direction: column;

    &__recipe-data {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      gap: 1rem 3rem;
      margin-bottom: 4rem;

      @media only screen and (max-width: $bp-medium) {
        display: flex;
        flex-direction: column;
      }
    }

    &__input-group {
      display: flex;
      align-items: center;

      label {
        font-size: 1.5rem;
        font-weight: 600;
        color: inherit;
        float: left;
        width: 20%;

        @media screen and (max-width: $bp-medium) {
          width: 15%;
        }

        @media screen and (max-width: $bp-small) {
          width: 20%;
        }
      }

      input {
        font-size: 1.5rem;
        padding: 0.8rem 1rem;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        transition: all 0.2s;
        float: right;
        width: 80%;
        background-color: $color-grey-light-1;
        color: $color-grey-dark-1;

        &::placeholder {
          color: $color-grey-light-3;
        }

        &:focus {
          outline: none;
          border: 1px solid $color-primary;
          background-color: $color-grey-light-1;
        }
      }

      &--publisher,
      &--time {
        label {
          width: 63%;

          @media only screen and (max-width: $bp-medium) {
            width: 15%;
          }

          @media only screen and (max-width: $bp-small) {
            width: 20%;
          }
        }

        input {
          @media only screen and (max-width: $bp-medium) {
            width: 80%;
          }
        }
      }

      &--image-url {
        grid-column: 2 / span 2;
      }
    }

    &__ingredients {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      gap: 1rem 3rem;

      @media only screen and (max-width: $bp-large) {
        gap: 1rem 2rem;
      }

      @media only screen and (max-width: $bp-medium) {
        display: flex;
        flex-direction: column;
      }
    }

    &__ingredients-column {
      display: grid;
      grid-template-columns: 0.8fr 1fr 1fr 1fr;
      gap: 1rem 1rem;

      @media screen and (max-width: $bp-medium) {
        grid-template-columns: 0.5fr 1fr 1fr 1fr;
      }

      @media screen and (max-width: $bp-small) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      &--1 {
        grid-column: 1 / span 1;
      }

      &--2 {
        grid-column: 2 / span 2;
      }

      label {
        font-size: 1.4rem;
        font-weight: 600;
        color: inherit;
        align-self: center;
      }

      input {
        font-size: 1.4rem;
        max-width: 12rem;
        padding: 0.8rem 1rem;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        transition: all 0.2s;
        background-color: $color-grey-light-1;
        color: $color-grey-dark-1;

        &::placeholder {
          color: $color-grey-light-3;
        }

        &:focus {
          outline: none;
          border: 1px solid $color-primary;
          background-color: $color-grey-light-1;
        }

        @media screen and (max-width: $bp-medium) {
          max-width: 100%;
        }

        @media screen and (max-width: $bp-small) {
          max-width: 15rem;
        }

        @media screen and (max-width: $bp-smallest) {
          max-width: 9rem;
        }
      }
    }

    &__heading {
      font-size: 2.25rem;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 1rem;
      grid-column: 1 / -1;
    }

    &__btn {
      margin-top: 4rem;
      align-self: center;
    }

  }
}